.event_container_left {
    background-color: #1E293B;
}

.upcoming_events {
    color: white;
}

.upcoming_events > h1 {
    font-size: 2.5em;
    font-weight: 300;
}

.upcoming_events > p {
    font-size: 1.5em;
    font-weight: 100;
}

.event_slider_buttons {
    width: auto;
    color: white;
    transform: scale(1.5);
}

.event_container_right {
    background-color: #DC2626;
    height: 510px;
    overflow: hidden;
    white-space: nowrap;
}

.event_card_container {
    width: 320px;
    height: 440px;
    align-items: center;
    overflow: hidden;
    display: inline-block;
    border-radius: 10px;
}

.event_card {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: black 0px 0px 10px;
    overflow: hidden;
    display: inline-block;
    white-space: normal;
}

.event_card_img {
    box-shadow: black 0px 0px 10px;
    border-radius: 10px 10px 0 0;
}

.event_card > p {
    scrollbar-width: none;
    scrollbar-color: transparent transparent;
}

.event_calendar {
    /* width: 98%; */
    /* height: 100%; */
    background-color: #fff;
    border-radius: 5px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}

.selected_events_card {
    border-width: 1px;
    border-radius: 10px;
}
