<div class="flex flex-col md:flex-row">
  <div class="flex flex-col md:w-1/3 mx-auto pb-6 bg-prussian-blue">
    <div class="text-white ml-4 mt-4 md:mt-28">
      <h1 class="text-4xl font-medium">Upcoming Events</h1>
      <p class="text-2xl font-light py-2">
        Check out all of our upcoming events within the next two months. We hope
        to see you there!
      </p>
    </div>
    <div class="flex flex-row ml-auto mr-6 md:mt-24 text-white scale-150">
      <button (click)="onPrevious()" class="">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <button (click)="onNext()" class="">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>

  <div
    class="md:w-2/3 md:max-h-[500px] p-4 content-center overflow-hidden whitespace-nowrap bg-rojo-red"
    (swipeleft)="onNext()"
    (swiperight)="onPrevious()"
    [ngClass]="{
      'text-center md:text-left':
        sliderEventsList.length === 0 || sliderEventsList.length === 1
    }"
  >
    <div
      class="h-full w-full md:w-1/3 overflow-hidden inline-block rounded-lg shadow-md shadow-prussian-blue"
      *ngFor="let event of sliderEventsList; let i = index"
      [ngStyle]="{
        transform: 'translateX(' + x + 'px)',
        transition: 'transform 0.5s'
      }"
    >
      <div class="flex flex-col h-full w-full bg-white rounded-lg">
        <!-- <div
          class="md:h-2/5 bg-prussian-blue"
          (click)="openImageDialog(event.image_url, event.title)"
        > -->
        <img
          *ngIf="event.image_url"
          src="{{ event.image_url }}"
          alt="{{ event.title }}"
          class="h-auto md:h-2/5 w-auto rounded-t-lg cursor-pointer object-fill"
          (click)="openImageDialog(event.image_url, event.title)"
        />
        <!-- </div> -->
        <div class="flex flex-col md:h-3/5 px-4 py-2">
          <h2 class="text-lg font-medium text-wrap">
            {{ event.title }}
          </h2>
          <div class="py-2 overflow-y-auto whitespace-normal">
            <p>{{ event.description }}</p>
          </div>
          <div class="pt-2 font-medium text-wrap">
            {{ event.date }}
            &nbsp; - &nbsp; Starts at {{ event.time }}
          </div>
          <div id="customButton">
            <a
              href="https://ticketstripe.com/independencedaygeorgia"
              style="
                background-color: #f8a102;
                border: 1px solid #f8a102;
                text-shadow: 0 -1px #f8a102;
                display: inline-block;
                color: #ffffff;
                font-family: arial;
                font-size: 15px;
                font-weight: bold;
                margin: 0;
                padding: 5px 10px;
                text-decoration: none;
              "
              target="_top"
              >Click Here to Buy Tickets</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- if there are no events in sliderEventsList -->
    <div
      class="h-full md:w-1/3 items-center overflow-hidden inline-block rounded-lg shadow-md shadow-prussian-blue"
      *ngIf="sliderEventsList.length === 0"
    >
      <div class="p-4 rounded-lg overflow-hidden inline-block">
        <h2>No upcoming events</h2>
        <p>Check back later for more events!</p>
      </div>
    </div>
  </div>
</div>

<div class="flex flex-col justify-center px-4 md:px-10 py-20">
  <h2 class="text-2xl font-semibold">Calendar View</h2>
  <div class="flex flex-col md:flex-row">
    <div class="flex flex-col md:w-1/3 rounded-lg">
      <mat-card class="">
        <mat-calendar
          [(selected)]="selected"
          [dateClass]="myDateClass"
        ></mat-calendar>
      </mat-card>
      <p>Selected date: {{ onSelect(selected) }}</p>
    </div>

    <div class="md:w-2/3 pt-6 md:pt-0 md:pl-4">
      <div
        class="flex flex-col md:flex-row border rounded-lg"
        *ngFor="let selectedEvent of selectedEventsList"
      >
        <div class="md:w-1/2 p-4">
          <h2 class="text-lg font-medium">{{ selectedEvent.title }}</h2>
          <div class="py-2 overflow-y-auto whitespace-normal">
            <p>
              {{ selectedEvent.description }}
            </p>
          </div>
          <div class="font-medium">
            {{ selectedEvent.date }}
            &nbsp; - &nbsp; Starts at {{ selectedEvent.time }}
          </div>
        </div>
        <div class="md:w-1/2 md:p-2 content-center">
          <img
            *ngIf="selectedEvent.image_url"
            src="{{ selectedEvent.image_url }}"
            alt="{{ selectedEvent.title }}"
            class="shadow-lg rounded-b-lg md:rounded-lg"
          />
        </div>
      </div>

      <div
        *ngIf="selectedEventsList.length == 0"
        class="flex flex-col md:flex-row border rounded-lg"
      >
        <div class="">
          <h2 class="text-lg font-medium p-4">
            No events on {{ onSelect(selected) }}
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
