<div class="event_container flex flex-col md:flex-row">
    <div class="event_container_left flex flex-col md:w-1/3 mx-auto pb-6">
        <div class="upcoming_events ml-4 mt-4 md:mt-28">
            <h1>Upcoming Events</h1>
            <p>
                Check out all of our upcoming events within the next two months.
                We hope to see you there!
            </p>
        </div>
        <div class="event_slider_buttons flex flex-row ml-auto mr-6 md:mt-24">
            <button (click)="onPrevious()" class="event_slider_button_left">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button (click)="onNext()" class="event_slider_button_right">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
    <div class="event_container_right flex-row md:w-2/3 justify-center"
    (swipeleft)="onNext()" 
    (swiperight)="onPrevious()">
        <div 
            class="event_card_container m-5"
            *ngFor="let event of eventsList, let i = index"
            [ngStyle]="{ transform: 'translateX(' + x + 'px)', transition: 'transform 0.5s'}"
        >
            <div 
                class="event_card p-4"
                @eventsAnimation
            >
                <img src="/" alt="event card image" class="event_card_img h-2/5 w-full">
                <h2 class="!ml-0 !mt-4">
                    {{ event.title }}
                </h2>
                <p class="h-1/5 !ml-0 overflow-y-auto">
                    {{ event.description }}
                </p>
                <div class="ml-0">
                    {{ event.date }}
                    &nbsp; - &nbsp;
                    {{ event.time }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="event_calendar_container mt-16 p-10 flex flex-col justify-center">
    <h2>Calendar View</h2>
    <div class="event_selector flex flex-col md:flex-row">
        <div class="event_calendar flex flex-col md:w-1/3">
            <mat-card class="demo-inline-calendar-card">
                <mat-calendar [(selected)]="selected" [dateClass]="myDateClass"></mat-calendar>
            </mat-card>
            <p>Selected date: {{onSelect(selected)}}</p>
        </div>
        <div class="selected_events md:w-2/3">
            <div class="selected_events_card md:ml-10 mb-4 p-6" *ngFor="let selectedEvent of selectedEventsList">
                <h2>{{ selectedEvent.title }}</h2>
                <p class="overflow-y-auto">{{ selectedEvent.description }}</p>
                <div class="flex flex-row">
                    <p>{{ selectedEvent.date }}</p>
                    &nbsp; - &nbsp;
                    <p>{{ selectedEvent.time }}</p>
                </div>
            </div>
        </div>
    </div>
</div>