.login_register_container {
    height: 300px;
}

.login_register_box {
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 20px;
}

.login_button {
    color: #DC2626;
    border: 1px solid #DC2626;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.login_submit:hover {
    color: #DC2626;
    
}

.register_button {
    color: #DC2626;
    border: 1px solid #DC2626;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.logout_button {
    transform: translateY(-30px);
}
/* update account css */
.update_account_header {
    margin-left: 15vw;

    @media screen and (max-width: 768px) {
        margin-left: 5vw;
    }
}

.update_account {
    width: 70vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
        width: 90vw;
    }
}

.show_password_button {
    transform: scale(0.8);
    right: 0;
    top: -3px;
}
/* non-business account css for hire listings */
.no_hire_listing_header {
    margin-left: 15vw;

    @media screen and (max-width: 768px) {
        margin-left: 5vw;
    }
}

.hire_listing_header {
    margin-left: 15vw;

    @media screen and (max-width: 768px) {
        margin-left: 5vw;
    }
}

.for_hire_pending {
    width: 70vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
        width: 90vw;
    }
}

.hire_listing {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    width: 70vw;
}

.hire_listing_name > p {
    font-size: 20px;
    font-weight: bold;
}

.hire_listing_details > p > mat-icon {
    transform: translateY(7px);
}

.hire_listing_contact > p > mat-icon {
    transform: translateY(7px);
}

.work_outside {
    width: max-content;
    padding: 0px 7px 0px 7px;
    color: white;
    background-color: #1E293B;
    opacity: 0.8;
    border-radius: 10px;
}
/* non-business account css for business account registration */
.business_account_offer {
    width: 70vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
        width: 90vw;
    }
}

.business_account_rescind {
    width: 70vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
        width: 90vw;
    }
}

.business_account_offer_header {
    margin-left: 15vw;

    @media screen and (max-width: 768px) {
        margin-left: 5vw;
    }
}

.business_button {
    color: #DC2626;
    border: 1px solid #DC2626;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

/* business account css for business listing */
.no_business_listing_header {
    margin-left: 15vw;

    @media screen and (max-width: 768px) {
        margin-left: 5vw;
    }
}

.business_listing_header {
    margin-left: 15vw;

    @media screen and (max-width: 768px) {
        margin-left: 5vw;
    }
}

.business_listing {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    width: 70vw;
}

.business_listing_name > p {
    font-size: 20px;
    font-weight: bold;
}

.business_listing_details > p > mat-icon {
    transform: translateY(7px);
}

.business_listing_contact > p > mat-icon {
    transform: translateY(7px);
}

/* business account css for job board listings */
.job_board_listing_header {
    margin-left: 15vw;

    @media screen and (max-width: 768px) {
        margin-left: 5vw;
    }
}

.no_job_board_listing_header {
    margin-left: 15vw;

    @media screen and (max-width: 768px) {
        margin-left: 5vw;
    }
}