<div class="login_register_container flex mt-16 justify-center items-center" *ngIf="isLoggedIn == false">
    <div class="login_register_box flex flex-col w-4/5 md:w-1/3 mx-auto justify-center">
        <div class="login_container flex flex-col justify-center text-center">
            <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
                <h2>Already have an account?</h2>
                <div class="flex flex-col">
                    <label for="email">Email:</label>
                    <input class="border rounded-lg px-2" type="email" id="email" name="email" formControlName="email">
                    <i style="color: tomato"
                        *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
                    </i>
                </div>
                <div class="flex flex-col">
                    <label for="password">Password:</label>
                    <input class="border rounded-lg px-2" type="password" id="password" name="password" formControlName="password">
                    <i style="color: tomato"
                        *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                    </i>
                </div>
                
                <div class="login_submit">
                    <input class="login_button w-full" type="submit">
                    <ng-template #dialogLoginFail class="overflow-hidden">
                        <div class="p-4">
                            <p>Invalid email or password!</p>
                        </div>
                    </ng-template>
                </div>
            </form>
            <button class="mt-1 text-gray-600" (click)="openPasswordResetDialog()">Reset Password</button>
            <ng-template #dialogResetPassword class="overflow-hidden">
                <form class="p-4" (ngSubmit)="resetPassword(password_reset_email)">
                    <p>Enter your email to reset your password</p>
                    <input [(ngModel)]="password_reset_email" class="border rounded-lg px-2" type="email" name="password_reset_email">
                    <button type="submit" class="reset_password ml-2">Reset</button>
                    <ng-template #dialogPasswordResetSuccess class="overflow-hidden">
                        <div class="p-4">
                            <p>Password reset email sent!</p>
                        </div>
                    </ng-template>
                    <ng-template #dialogPasswordResetFail class="overflow-hidden">
                        <div class="p-4">
                            <p>There was an error sending the password reset email</p>
                            <br/>
                            <p>Please make sure your email is correct and try again.</p>
                        </div>
                    </ng-template>
                </form>
            </ng-template>
        </div>

        <div class="register_container flex flex-col mt-10 justify-center">
            <p class="text-center">Don't have an account?</p>
            <button class="register_button" (click)="openRegisterDialog()">Register</button>
        </div>
    </div>
</div>
<!-- Logged In -->
<div class="user_page_container mt-8" *ngIf="isLoggedIn == true">
    <!-- <a class="community_button absolute right-16 mt-2" href="/community">Community</a> -->
    <button class="logout_button absolute right-2 mt-2" (click)="logout()">Logout</button>
    <div class="welcome">
        <h2 class="text-center">Welcome {{ userName }}</h2>
    </div>
    <!-- Update Account -->
    <div class="update_account_container flex flex-col mt-10 justify-center">
        <h1 class="update_account_header">
            Update Account
        </h1>
        <div class="update_account flex flex-col mx-auto justify-center">
            <form class="update_account_name flex flex-row mb-2 justify-center" (ngSubmit)="updateUserName(newName)">
                <input *ngIf="userName != null" placeholder="{{ userName }}" [(ngModel)]="newName" name="newName"/>
                <input *ngIf="userName == null" placeholder="No name provided" [(ngModel)]="newName" name="newName"/>
                <button type="submit" class="update_name_button ml-2">Update</button>
            </form>
            <form class="update_account_phone_number flex flex-row mb-2 justify-center" (ngSubmit)="updateUserPhone(newPhone)">
                <input 
                    *ngIf="userPhone != null" 
                    placeholder="({{ userPhone.slice(0,3) }}) {{ userPhone.slice(3,6) }}-{{ userPhone.slice(6,10) }}"
                    [(ngModel)]="newPhone"
                    name="newPhone"
                />
                <input 
                    *ngIf="userPhone == null" 
                    placeholder="No phone number provided" 
                    [(ngModel)]="newPhone"
                    name="newPhone"
                />
                <button type="submit" class="update_phone_button ml-2">Update</button>
            </form>
            <form class="update_account_email flex flex-row mb-2 justify-center" (ngSubmit)="updateUserEmail(newEmail)">
                <input placeholder="{{ userEmail }}" [(ngModel)]="newEmail" name="newEmail"/>
                <button type="submit" class="update_email_button ml-2">Update</button>
            </form>
            <form class="update_account_password flex flex-row justify-center" (ngSubmit)="updateUserPassword(newPassword)">
                <input placeholder="New Password Here" [(ngModel)]="newPassword" name="newPassword"/>
                <button type="submit" class="update_password_button ml-2">Update</button>
                <ng-template #dialogPasswordUpdateSuccess class="overflow-hidden">
                    <div class="p-4">
                        <p>Password Updated!</p>
                    </div>
                </ng-template>
                <ng-template #dialogPasswordUpdateFail class="overflow-hidden">
                    <div class="p-4">
                        <p>There was an error updating your password</p>
                        <br/>
                        <p>Please make sure your password is at least 6 characters long and try again.</p>
                    </div>
                </ng-template>
            </form>
            <div class="update_account_button flex flex-row justify-center">
                <!-- <button class="update_button" (click)="openUpdateDialog()">Update</button> -->
            </div>
        </div>
    </div>
    <!-- Is not Business -->
    <div class="non_business_container flex flex-col justify-center" *ngIf="isBusiness == false">
        <div class="no_hire_listing_container flex flex-col mt-10 justify-center" *ngIf="!hasHireListing">
            <h1 class="no_hire_listing_header">
                Submit a For Hire Listing
            </h1>
            <app-for-hire-request *ngIf="!hasForHireRequest" class="mb-10 mx-auto"></app-for-hire-request>
            <div *ngIf="hasForHireRequest" class="for_hire_pending mx-auto text-center">
                <h2 class="text-center">
                    Request has been made! Please wait for approval.
                </h2>
                <p>If there are any issues, or if you would like to follow up, please contact us by email at: CGCA.Ertoba@gmail.com</p>
                <p>Thank you.</p>
            </div>
        </div>
        <!-- For Hire Listing -->
        <div class="hire_listing_container flex flex-col relative mt-10" *ngIf="hasHireListing">
            <h1 class="hire_listing_header">
                Your For Hire Listing
            </h1>
            <div class="hlisting_buttons_container md:absolute flex flex-row">
                <div class="hlisting_edit_container mr-2">
                    <button (click)="openEditHireDialog()">
                        <mat-icon class="text-black">edit</mat-icon>
                        Edit
                    </button>
                </div>
                <div class="hlisting_delete_container">
                    <button (click)="openDeleteForHireDialog()">
                        <mat-icon class="text-black">delete</mat-icon>
                        Delete
                    </button>
                    <ng-template #dialogDeleteForHire class="overflow-hidden">
                        <div class="p-4 text-center">
                            <p>Are you sure you want to delete your For Hire Listing?</p>
                            <p>This action cannot be undone.</p>
                            <button class="for_hire_delete_button" (click)="deleteForHire()">Delete</button>
                        </div>
                        <ng-template #dialogDeleteForHireSuccess class="overflow-hidden">
                            <div class="p-4">
                                <p>For Hire Listing Deleted!</p>
                            </div>
                        </ng-template>
                        <ng-template #dialogDeleteForHireFail class="overflow-hidden">
                            <div class="p-4">
                                <p>There was an error deleting your For Hire Listing</p>
                                <br/>
                                <p>Please try again.</p>
                            </div>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
            <div class="hire_listing flex flex-col justify-center mx-auto" *ngFor="let listing of userHireListing">
                <div class="hire_listing_name flex flex-row">
                    <p>{{ listing.name }} -&nbsp;</p> 
                    <p> {{ listing.profession }}</p>
                </div>
                <div class="hire_listing_description">
                    <p>{{ listing.about }}</p>
                </div>
                <div class="hire_listing_details flex flex-row"> 
                    <p>
                        <mat-icon class="text-black">map</mat-icon>
                        {{ listing.location }}
                    </p>
                </div>
                <div class="hire_listing_contact flex flex-row gap-6">
                    <p>
                        <mat-icon class="text-black">email</mat-icon>
                        {{ listing.email }}
                    </p>
                    <p>
                        <mat-icon class="text-black">phone</mat-icon>
                        ({{ listing.phone_number.slice(0,3) }}) {{ listing.phone_number.slice(3,6) }}-{{ listing.phone_number.slice(6,10) }}
                    </p>
                </div>
                <div class="work_outside" *ngIf=(listing.work_outside)>
                    Willing to work outside of profession
                </div>
              </div>
        </div>
        <!-- Business Account request button -->
        <div class="business_account_offer_container mt-10">
            <h1 class="business_account_offer_header">
                Change to Business Account
            </h1>
            <div *ngIf="!hasBusinessRequest" class="business_account_offer mx-auto text-center">
                <h2 class="text-center">
                    Interested in promoting your business and finding potential hires?
                </h2>
                <p>Click the button below to request to have your account changed to a business account.</p>
                <button class="business_button" (click)="requestBusiness()">Register as a business</button>
                <ng-template #dialogRegisterBusiness class="overflow-hidden">
                    <div class="p-4">
                        <p>Request sent!</p>
                    </div>
                </ng-template>
            </div>
            <div *ngIf="hasBusinessRequest" class="business_account_rescind mx-auto text-center">
                <h2 class="text-center">
                    Request has been made! Please wait for approval.
                </h2>
                <p>Click the button below to cancel request.</p>
                <button class="business_button" (click)="cancelRequest()">Cancel Request</button>
                <ng-template #dialogRescindBusiness class="overflow-hidden">
                    <div class="p-4">
                        <p>Request cancelled!</p>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>

    <!------------- Is Business ------------->
    <div class="business_container" *ngIf="isBusiness">
        <div class="no_blisting_container flex flex-col mt-10 justify-center" *ngIf="hasBusinessListing == false">
            <h1 class="no_blisting_header">
                Submit a Business Listing
            </h1>
            <app-register-business class="mb-10 mx-auto"></app-register-business>
        </div>
    
        <div class="blisting_container flex flex-col relative mt-10" *ngIf="hasBusinessListing == true">
            <h1 class="blisting_header">
                Your Business Listing
            </h1>
            <div class="blisting_buttons_container md:absolute flex flex-row">
                <div class="blisting_edit_container mr-2">
                    <button (click)="openEditBusinessDialog()">
                        <mat-icon class="text-black">edit</mat-icon>
                        Edit
                    </button>
                </div>
                <div class="blisting_delete_container">
                    <button (click)="openDeleteBusinessDialog()">
                        <mat-icon class="text-black">delete</mat-icon>
                        Delete
                    </button>
                    <ng-template #dialogDeleteBusiness class="overflow-hidden">
                        <div class="p-4 text-center">
                            <p>Are you sure you want to delete your Business Listing?</p>
                            <p>This action cannot be undone.</p>
                            <button class="business_delete_button" (click)="deleteBusiness()">Delete</button>
                        </div>
                        <ng-template #dialogDeleteBusinessSuccess class="overflow-hidden">
                            <div class="p-4">
                                <p>Business Listing Deleted!</p>
                            </div>
                        </ng-template>
                        <ng-template #dialogDeleteBusinessFail class="overflow-hidden">
                            <div class="p-4">
                                <p>There was an error deleting your Business Listing</p>
                                <br/>
                                <p>Please try again.</p>
                            </div>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
            <div class="blisting flex flex-col md:flex-row mx-auto" *ngFor="let listing of userBusiness">
                <!-- <div class="flex md:w-1/3 object-cover">
                    <img src="{{ listing.image_url }}" alt="business logo">
                </div> -->
                <div class="flex flex-col md:w-2/3 ml-4">
                    <div class="blisting_name flex flex-col md:flex-row">
                        <h3 class="hidden md:block">{{ listing.company_name }} -&nbsp;</h3>
                        <h3 class="block md:hidden">{{ listing.company_name }}</h3>
                        <p> {{ listing.type }} </p>
                    </div>
                    <div class="blisting_description">
                        <p>{{ listing.description }}</p>
                    </div>
                    <div class="blisting_details flex flex-col md:flex-row">
                        <p class="block md:hidden">
                            <mat-icon class="text-black">map</mat-icon>
                            {{ listing.location }}
                        </p>
                        <p class="block md:hidden">
                            <mat-icon class="text-black">phone</mat-icon>
                            ({{ listing.phone_number.slice(0,3) }}) {{ listing.phone_number.slice(3,6) }}-{{ listing.phone_number.slice(6,10) }}
                        </p> 
                        <p class="hidden md:block">
                            <mat-icon class="text-black">map</mat-icon>
                            {{ listing.location }}
                            <mat-icon class="text-black ml-2">phone</mat-icon>
                            ({{ listing.phone_number.slice(0,3) }}) {{ listing.phone_number.slice(3,6) }}-{{ listing.phone_number.slice(6,10) }}
                        </p>
                    </div>
                    <div class="blisting_contact_container flex flex-col md:flex-row md:gap-6">
                        <p class="blisting_contact_items block md:hidden">
                            <mat-icon class="text-black">person</mat-icon>
                            {{ listing.owner}}
                        </p>
                        <p class="blisting_contact_items block md:hidden">
                            <mat-icon class="text-black">email</mat-icon>
                            {{ listing.email }}
                        </p>
                        <p class="blisting_contact_items hidden md:block">
                            <mat-icon class="text-black">person</mat-icon>
                            {{ listing.owner}}
                            <mat-icon class="text-black ml-2">email</mat-icon>
                            {{ listing.email }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!------------- Is Business: Job Board ------------->
        <div class="no_job_board_listing_container flex flex-col mt-10 justify-center" *ngIf="hasJobBoardListing == false">
            <h1 class="no_job_board_listing_header">
                Submit a Job Board Listing
            </h1>
            <app-register-job-board class=" mb-10 mx-auto"></app-register-job-board>
        </div>
    
        <div class="job_board_listing_container flex flex-col relative mt-10" *ngIf="hasJobBoardListing == true">
            <h1 class="job_board_listing_header">
                Your Job Board Listing
            </h1>
            <div class="jlisting_buttons_container md:absolute flex flex-row">
                <div class="jlisting_edit_container mr-2">
                    <button (click)="openEditJobBoardDialog()">
                        <mat-icon class="text-black">edit</mat-icon>
                        Edit
                    </button>
                </div>
                <div class="jlisting_delete_container">
                    <button (click)="openDeleteJobBoardDialog()">
                        <mat-icon class="text-black">delete</mat-icon>
                        Delete
                    </button>
                    <ng-template #dialogDeleteJobBoard class="overflow-hidden">
                        <div class="p-4 text-center">
                            <p>Are you sure you want to delete your Job Board Listing?</p>
                            <p>This action cannot be undone.</p>
                            <button class="job_board_delete_button" (click)="deleteJobBoardListing()">Delete</button>
                        </div>
                        <ng-template #dialogDeleteJobBoardSuccess class="overflow-hidden">
                            <div class="p-4">
                                <p>Job Board Listing Deleted!</p>
                            </div>
                        </ng-template>
                        <ng-template #dialogDeleteJobBoardFail class="overflow-hidden">
                            <div class="p-4">
                                <p>There was an error deleting your Job Board Listing</p>
                                <br/>
                                <p>Please try again.</p>
                            </div>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
            <div class="jlisting flex flex-col justify-center mx-auto" *ngFor="let listing of userJobBoardListing">
                <div class="jlisting_name flex flex-col md:flex-row justify-center">
                    <h3 class="hidden md:block">{{ listing.job_title }} -&nbsp;</h3>
                    <h3 class="block md:hidden">{{ listing.job_title }}</h3>
                    <p> {{ listing.company_name }} </p>
                </div>
                <div class="jlisting_description">
                    <p>{{ listing.job_description }}</p>
                </div>
                <div class="jlisting_details flex flex-col md:flex-row">
                    <p class="block md:hidden">
                        <mat-icon class="text-black">attach_money</mat-icon>
                        {{ listing.pay }}
                    </p> 
                    <p class="block md:hidden">
                        <mat-icon class="text-black">map</mat-icon>
                        {{ listing.location }}
                    </p>
                    <p class="hidden md:block">
                        <mat-icon class="text-black">attach_money</mat-icon>
                        {{ listing.pay }}
                        <mat-icon class="text-black ml-2">map</mat-icon>
                        {{ listing.location }}
                    </p>
                </div>
                <div class="jlisting_contact flex flex-col md:flex-row">
                    <p class="block md:hidden">
                        <mat-icon class="text-black">person</mat-icon>
                        {{ listing.email}}
                    </p>
                    <p class="block md:hidden">
                        <mat-icon class="text-black">email</mat-icon>
                        ({{ listing.phone_number.slice(0,3) }}) {{ listing.phone_number.slice(3,6) }}-{{ listing.phone_number.slice(6,10) }}
                    </p>
                    <p class="hidden md:block">
                        <mat-icon class="text-black">person</mat-icon>
                        {{ listing.email}}
                        <mat-icon class="text-black ml-2">email</mat-icon>
                        ({{ listing.phone_number.slice(0,3) }}) {{ listing.phone_number.slice(3,6) }}-{{ listing.phone_number.slice(6,10) }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

