<!-- Logged In -->
<div class="relative min-h-screen py-10">
  <a
    class="absolute top-2 left-2 flex flex-row hover:text-rojo-red hover:underline"
    href="/community"
  >
    <mat-icon class="text-black">arrow_left</mat-icon>
    <span class="">Community</span>
  </a>
  <button
    class="absolute top-2 right-2 hover:text-rojo-red hover:underline"
    (click)="logout()"
  >
    Logout
  </button>
  <div class="p-10">
    <h2 class="text-center text-2xl font-bold">Welcome {{ userName }}</h2>
  </div>

  <!-- Update Account -->
  <div class="flex flex-col justify-center w-11/12 md:w-3/4 mx-auto py-10">
    <h1 class="font-semibold">Account Info</h1>
    <app-listings-action-buttons
      [editOnly]="true"
      [editLabel]="'Edit Account Info'"
      [editFunction]="openEditAccountDialog"
      class="ml-auto"
    ></app-listings-action-buttons>

    <div
      class="flex flex-col w-full p-4 mx-auto justify-center border rounded-lg"
    >
      <div class="table w-fit">
        <div class="table-row">
          <div class="table-cell text-left">Name</div>
          <div class="table-cell">:</div>
          <div class="table-cell pl-2">
            {{ userName }}
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell text-left">Phone</div>
          <div class="table-cell">:</div>
          <div class="table-cell pl-2">
            {{ formatPhone(userPhone) }}
          </div>
        </div>
        <div class="table-row">
          <div class="table-cell text-left">Email</div>
          <div class="table-cell">:</div>
          <div class="table-cell pl-2">
            {{ userEmail }}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- FOR HIRE -->
  <div class="flex flex-col justify-center w-11/12 md:w-3/4 mx-auto py-10">
    <div *ngIf="!hasHireListing" class="flex flex-col relative justify-center">
      <h1 class="font-semibold">Submit a For Hire Listing</h1>
      <app-for-hire-request *ngIf="!hasForHireRequest"></app-for-hire-request>

      <app-listings-action-buttons
        *ngIf="hasForHireRequest"
        [editLabel]="'Edit Hire Listing'"
        [deleteLabel]="'Delete Hire Listing'"
        [editFunction]="openEditHireDialog"
        [deleteFunction]="deleteForHire"
        [deleteDialogTitle]="'Delete Hire Listing'"
        [deleteDialogMessage]="
          'Are you sure you want to delete your hire listing?'
        "
        [deleteDialogWarning]="'This action cannot be undone.'"
        [successMessage]="'Hire listing deleted successfully!'"
        [failMessage]="'Failed to delete hire listing. Please try again.'"
        class="ml-auto"
      ></app-listings-action-buttons>

      <div
        *ngIf="hasForHireRequest"
        class="w-full mx-auto text-center border rounded-lg p-4"
      >
        <h2 class="text-center">
          Request has been made! Please wait for approval.
        </h2>
        <p>
          If there are any issues, or if you would like to follow up, please
          contact us by email at: Ertoba.CGCA&#64;gmail.com
        </p>
        <p>Thank you.</p>
      </div>
    </div>

    <div *ngIf="hasHireListing" class="flex flex-col relative">
      <h1 class="font-semibold">Your For Hire Listing</h1>
      <app-listings-action-buttons
        [editLabel]="'Edit Hire Listing'"
        [deleteLabel]="'Delete Hire Listing'"
        [editFunction]="openEditHireDialog"
        [deleteFunction]="deleteForHire"
        [deleteDialogTitle]="'Delete Hire Listing'"
        [deleteDialogMessage]="
          'Are you sure you want to delete your hire listing?'
        "
        [deleteDialogWarning]="'This action cannot be undone.'"
        [successMessage]="'Hire listing deleted successfully!'"
        [failMessage]="'Failed to delete hire listing. Please try again.'"
        class="ml-auto"
      ></app-listings-action-buttons>
      <app-for-hire-listings></app-for-hire-listings>
    </div>
  </div>

  <!-- BUSINESS -->
  <div class="flex flex-col justify-center w-11/12 md:w-3/4 mx-auto py-10">
    <div
      *ngIf="!hasBusinessListing"
      class="flex flex-col relative justify-center"
    >
      <h1 class="font-semibold">Submit a Business Listing</h1>
      <app-register-business
        *ngIf="!hasBusinessRequest"
      ></app-register-business>

      <app-listings-action-buttons
        *ngIf="hasBusinessRequest"
        [editLabel]="'Edit Business Listing'"
        [deleteLabel]="'Delete Business Listing'"
        [editFunction]="openEditBusinessDialog"
        [deleteFunction]="deleteBusiness"
        [deleteDialogTitle]="'Delete Business Listing'"
        [deleteDialogMessage]="
          'Are you sure you want to delete your business listing?'
        "
        [deleteDialogWarning]="'This action cannot be undone.'"
        [successMessage]="'Business listing deleted successfully!'"
        [failMessage]="'Failed to delete business listing. Please try again.'"
        class="ml-auto"
      ></app-listings-action-buttons>
      <div
        *ngIf="hasBusinessRequest"
        class="w-full mx-auto text-center border rounded-lg p-4"
      >
        <h2 class="text-center">
          Request has been made! Please wait for approval.
        </h2>
        <p>
          If there are any issues, or if you would like to follow up, please
          contact us by email at: Ertoba.CGCA&#64;gmail.com
        </p>
        <p>Thank you.</p>
      </div>
    </div>

    <div *ngIf="hasBusinessListing" class="flex flex-col relative">
      <h1 class="font-semibold">Your Business Listing</h1>
      <app-listings-action-buttons
        [editLabel]="'Edit Business Listing'"
        [deleteLabel]="'Delete Business Listing'"
        [editFunction]="openEditBusinessDialog"
        [deleteFunction]="deleteBusiness"
        [deleteDialogTitle]="'Delete Business Listing'"
        [deleteDialogMessage]="
          'Are you sure you want to delete your business listing?'
        "
        [deleteDialogWarning]="'This action cannot be undone.'"
        [successMessage]="'Business listing deleted successfully!'"
        [failMessage]="'Failed to delete business listing. Please try again.'"
        class="ml-auto"
      ></app-listings-action-buttons>
      <app-business-listings></app-business-listings>
    </div>
  </div>

  <!-- JOB BOARD -->
  <div class="flex flex-col justify-center w-11/12 md:w-3/4 mx-auto py-10">
    <div
      *ngIf="!hasJobBoardListing"
      class="flex flex-col relative justify-center"
    >
      <h1 class="font-semibold">Submit a Job Board Listing</h1>
      <app-register-job-board
        *ngIf="!hasJobBoardRequest"
      ></app-register-job-board>

      <app-listings-action-buttons
        *ngIf="hasJobBoardRequest"
        [editLabel]="'Edit Job Board Listing'"
        [deleteLabel]="'Delete Job Board Listing'"
        [editFunction]="openEditJobBoardDialog"
        [deleteFunction]="deleteJobBoardListing"
        [deleteDialogTitle]="'Delete Job Board Listing'"
        [deleteDialogMessage]="
          'Are you sure you want to delete your job board listing?'
        "
        [deleteDialogWarning]="'This action cannot be undone.'"
        [successMessage]="'Job board listing deleted successfully!'"
        [failMessage]="'Failed to delete job board listing. Please try again.'"
        class="ml-auto"
      ></app-listings-action-buttons>
      <div
        *ngIf="hasJobBoardRequest"
        class="w-full mx-auto text-center border rounded-lg p-4"
      >
        <h2 class="text-center">
          Request has been made! Please wait for approval.
        </h2>
        <p>
          If there are any issues, or if you would like to follow up, please
          contact us by email at: Ertoba.CGCA&#64;gmail.com
        </p>
        <p>Thank you.</p>
      </div>
    </div>

    <div *ngIf="hasJobBoardListing" class="flex flex-col relative">
      <h1 class="font-semibold">Your Job Board Listing</h1>
      <app-listings-action-buttons
        [editLabel]="'Edit Job Board Listing'"
        [deleteLabel]="'Delete Job Board Listing'"
        [editFunction]="openEditJobBoardDialog"
        [deleteFunction]="deleteJobBoardListing"
        [deleteDialogTitle]="'Delete Job Board Listing'"
        [deleteDialogMessage]="
          'Are you sure you want to delete your job board listing?'
        "
        [deleteDialogWarning]="'This action cannot be undone.'"
        [successMessage]="'Job board listing deleted successfully!'"
        [failMessage]="'Failed to delete job board listing. Please try again.'"
        class="ml-auto"
      ></app-listings-action-buttons>
      <app-job-board-listings></app-job-board-listings>
    </div>
  </div>
</div>
