<div class="flex float-right mt-2 mr-2 md:mr-6 gap-2">
    <a (click)="navigateToAccount()" class="hover:cursor-pointer"> My Account </a>
</div>
<div class="community_header my-28">
    <h1>Colorado Georgian Community Hub</h1>
</div>
<div class="community_container flex flex-col md:flex-row md:mx-6">
    <a routerLink="/business" class="community_business_container flex justify-center bg-blue-700">
        <h2>Georgian Owned Businesses</h2>
    </a>
    <a routerLink="/job-board" class="community_job_board_container flex justify-center bg-red-500">
        <h2>Job Board</h2>
    </a>
    <a routerLink="/for-hire" class="community_for_hire flex justify-center bg-black">
        <h2>For Hire</h2>
    </a>
</div>