<div class="flex flex-row bg-slate-800 text-white justify-between w-full p-8 mt-32">
    <div class="flex flex-col">
        <p>Colorado Georgian Community Association</p>
        <p>Denver, CO</p>
        <p>(720)275-8789</p>
        <p>CGCA.Ertoba@gmail.com</p>
    </div>
    <div class="flex flex-col">
        <h3>INFO</h3>
        <a routerLink="/" class="header-link">Home</a>
        <a routerLink="/mission" class="header-link">Our Mission</a>
        <a routerLink="/meet" class="header-link">Meet the Board</a>
        <a routerLink="/events" class="header-link">Events</a>
    </div>

    <div class="flex flex-col">
        <h3>CONTACT</h3>
        <a routerLink="/contact" class="header-link">Contact</a>
        <a routerLink="/contact" class="header-link">Volunteer</a>
        <a routerLink="/contact" class="header-link">Donate</a>
    </div>

    <div class="flex flex-col">
        <!-- socials -->
        <h3>SOCIALS</h3>

    </div>
</div>