<div class="mission_header flex flex-col justify-center text-center">
    <h2 class="lg:mt-8" [ngClass]="{'animate': isVisible}">Strength in Unity</h2>
    <h1 class="" [ngClass]="{'animate': isVisible}">Our Mission</h1>
</div>
<div class="mission_body flex flex-col mt-12 lg:mt-0 justify-center text-left">
    <ul class="mission_body_list ml-16 mr-8">
        <li class="list_item1" [ngClass]="{'animate': isVisible}">
            Promote the Georgian culture and heritage within the State of Colorado.
        </li>
        <li class="list_item2" [ngClass]="{'animate': isVisible}">
            Unite, engage and inspire the Georgian Community in the State of Colorado to stand as one in support of each other’s growth, success, and development.
        </li>
        <li class="list_item3" [ngClass]="{'animate': isVisible}">
            Organize events to help Georgian Community bond and assimilate.
        </li>
        <li class="list_item4" [ngClass]="{'animate': isVisible}">
            Provide educational programs for the purpose of retaining the Georgian culture in Colorado.
        </li>
    </ul>
</div>