<mat-toolbar class="sticky top-0 z-30 h-20">
    <a routerLink="/" class="logo hidden lg:flex">
        <img src="/favicon.ico" alt="Denver Georgian Association">
    </a>
    <a routerLink="/" class="header-title pl-2 lg:pl-5">
        Denver Georgian Association
    </a>
    <span class="header-spacer"></span>

    <div class="header-right gap-3">
        <a routerLink="/" class="header-link">Home</a>
        <a routerLink="/about" class="header-link">About Us</a>
        <a routerLink="/members" class="header-link">Members</a>
        <a routerLink="/events" class="header-link">Events</a>
        <a routerLink="/contact" class="header-link">Contact Us</a>
    </div>
</mat-toolbar>