.sponsor_btn {
    background-color: transparent;
    border-color: #dc2626;
    border-radius: 10px;
    border-width: 1px;
    color: #dc2626;
    font-size: clamp(0.875rem, 0.875rem + ((1vw - 0.48rem) * 0.481), 1.125rem);
    font-weight: 700;
    line-height: 1;
    padding-top: 1.188rem;
    padding-right: 2rem;
    padding-bottom: 1.188rem;
    padding-left: 2rem;
}

.sponsor_btn:hover {
    background-color: #dc2626;
    border-color: #dc2626;
    color: white;
}

.sponsor_container {
    min-height: 20vw;
}

.sponsor_card {
    color: white;
    background-color: #1E293B;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    white-space: normal;
    margin: 1vw;
    /* border: #1E293B solid; */
    /* border-width: 1px; */
    /* border-radius: 10px; */
    cursor: pointer; /* make the card clickable */
}

.sponsor-info {
    opacity: 0;
    max-height: 0;
    max-width: 0;
    transition: 1s ease-in-out;
}

.sponsor-info.show {
    opacity: 1;
    max-height: 500px;
    max-width: 500px;
}