<a href="/community">
    <mat-icon class="text-black float-left mt-1.5 ml-2 md:ml-6">keyboard_arrow_left</mat-icon>
</a>
<a href="/community" class="top_links float-left mt-2 md:ml-1">Back</a>
<button *ngIf="!isLoggedIn" class="top_links float-right mt-2 mr-2 md:mr-6"><a routerLink="/account-login">Login</a></button>
<div *ngIf="isLoggedIn" class="flex float-right mt-2 mr-2 md:mr-6 gap-2">
    <a href="/account" class="top_links"> My Account </a>
    <button (click)="logout()" class="top_links">Logout</button>
</div>

<div class="job_board_header flex mt-16 mb-6 md:my-16 px-4 md:px-0 justify-center text-center">
    <h1>Find a Position at a Local Company, Owned by Members of the Georgian Community</h1>
</div>

<div class="job_board_container flex flex-col md:flex-row min-h-screen">
    <div class="job_filter_container flex flex-col w-full md:w-1/5">
        <!-- Search bar -->
        <div class="job_filter_search">
            <input class="w-full pl-3 pr-10" type="text" [(ngModel)]="searchQuery" (input)="onSearchChange()" placeholder="Search...">
            <button class="search-btn" (click)="onSearchChange()">
                <mat-icon>search</mat-icon>
            </button>     
        </div>
        <!-- Filter checkboxes -->
        <!-- <div class="job_filter_type">
            <h3>Filter by Job Type:</h3>
            <label><input type="checkbox" name="job-type" value="full-time">Full Time</label>
            <label><input type="checkbox" name="job-type" value="part-time">Part Time</label>
            <label><input type="checkbox" name="job-type" value="internship">Internship</label>
        </div>     -->
    </div>

    <!-- Job listings -->
    <div class="jlisting_container flex flex-col w-full md:w-4/5">
        <div *ngIf="displayedJobsList.length === 0 && !searchPerformed" class="no-listings">
            There are currently no job listings.
        </div>
        <div *ngIf="displayedJobsList.length === 0 && !searchPerformed" class="no-listings">
            You could be the first! Go to <a class="hover:cursor-pointer underline text-blue-700" (click)="navigateToAccount()">My Account</a> to register, requets a business account, and post a job listing.
        </div>
        <div *ngIf="displayedJobsList.length === 0 && searchPerformed" class="no-listings">
            No job listings match your search criteria.
        </div>          
        <div class="jlisting flex flex-col justify-center" *ngFor="let listing of displayedJobsList">
            <div class="jlisting_name flex flex-col md:flex-row justify-center">
                <h3 class="hidden md:block">{{ listing.job_title }} -&nbsp;</h3>
                <h3 class="block md:hidden">{{ listing.job_title }}</h3>
                <p> {{ listing.company_name }} </p>
            </div>
            <div class="jlisting_description">
                <p>{{ listing.job_description }}</p>
            </div>
            <div class="jlisting_details flex flex-col md:flex-row">
                <p class="block md:hidden" *ngIf="listing.pay !== null && listing.pay !== ''">
                    <mat-icon class="text-black">attach_money</mat-icon>
                    {{ listing.pay }}
                </p> 
                <p class="block md:hidden" *ngIf="listing.location !== null && listing.location !== ''">
                    <mat-icon class="text-black">map</mat-icon>
                    {{ listing.location }}
                </p>
                <p class="hidden md:block">
                    <span *ngIf="listing.pay !== null && listing.pay !== ''">
                        <mat-icon class="text-black">attach_money</mat-icon>
                        {{ listing.pay }}
                    </span>
                    <span *ngIf="listing.location !== null && listing.location !== ''">
                        <mat-icon class="text-black ml-2">map</mat-icon>
                        {{ listing.location }}
                    </span>
                </p>
            </div>
            <div class="jlisting_contact flex flex-col md:flex-row">
                <p class="block md:hidden">
                    <mat-icon class="text-black">person</mat-icon>
                    {{ listing.email}}
                </p>
                <p class="block md:hidden">
                    <mat-icon class="text-black">email</mat-icon>
                    ({{ listing.phone_number.slice(0,3) }}) {{ listing.phone_number.slice(3,6) }}-{{ listing.phone_number.slice(6,10) }}
                </p>
                <p class="hidden md:block">
                    <mat-icon class="text-black">person</mat-icon>
                    {{ listing.email}}
                    <mat-icon class="text-black ml-2">email</mat-icon>
                    ({{ listing.phone_number.slice(0,3) }}) {{ listing.phone_number.slice(3,6) }}-{{ listing.phone_number.slice(6,10) }}
                </p>
            </div>
        </div>
        <div *ngIf="displayedJobsList.length > 0" class="jlisting text-center">
            Want to add a job to the list? Go to <a class="hover:cursor-pointer underline text-blue-700" (click)="navigateToAccount()">My Account</a> and request a business account.
        </div>
    </div>
</div>
<!-- Pagination buttons -->
<div class="pagination_container flex flex-row justify-center">
    <div class="flex justify-between gap-4">
        <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
        <button *ngFor="let pageNumber of pageNumbers" 
            (click)="goToPage(pageNumber)" 
            [class.active]="pageNumber === currentPage">
            {{ pageNumber }}
        </button>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages()">Next</button>
    </div> 
</div>