.job_board_header > h1 {
    font-family: Merriweather;
    font-size: 4vw;
    line-height: 1.1;

    @media screen and (max-width: 768px) {
        font-size: 6vw;
    }
}

.job_filter_container {
    padding: 20px;
}

.job_filter_search > input {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
}

.job_listing_container {
    padding: 20px;
}

.job_listing {
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    padding: 10px;
}