<a href="/community">
    <mat-icon class="text-black float-left mt-1.5 ml-2 md:ml-6">keyboard_arrow_left</mat-icon>
</a>
<a href="/community" class="float-left mt-2 md:ml-6">Back</a>
<button (click)="openLoginDialog()" *ngIf="!isLoggedIn" class="float-right mt-2 mr-2 md:mr-6">Login</button>
<div *ngIf="isLoggedIn" class="flex float-right mt-2 mr-2 md:mr-6 gap-2">
    <a href="/account"> My Account </a>
    <button (click)="logout()">Logout</button>
</div>

<div class="job_board_header flex mt-16 mb-6 md:my-16 px-4 md:px-0 justify-center text-center">
    <h1>Find a Position at a Local Company, Owned by Members of the Georgian Community</h1>
</div>

<div class="job_board_container flex flex-row">
    <div class="job_filter_container hidden md:flex flex-col">
        <!-- Search bar -->
        <div class="job_filter_search">
            <input type="text" placeholder="Search...">
            <button>Search</button>
        </div>
        <!-- Filter checkboxes -->
        <div class="job_filter_type">
            <h3>Filter by Job Type:</h3>
            <label><input type="checkbox" name="job-type" value="full-time">Full Time</label>
            <label><input type="checkbox" name="job-type" value="part-time">Part Time</label>
            <label><input type="checkbox" name="job-type" value="internship">Internship</label>
        </div>    
    </div>

    <!-- Job listings -->
    <div class="job_listing_container flex flex-col justify-center" *ngFor="let listing of jobsList">
        <div class="job_listing flex flex-col justify-center">
            <div class="job_listing_header flex flex-row justify-center">
                <h3>{{ listing.job_title }}</h3>
                <p>{{ listing.company_name }}</p>
            </div>
            <div class="job_listing_details flex flex-row justify-center">
                <p>{{ listing.location }}</p>
                <p>{{ listing.pay }}</p>
            </div>
            <div class="job_listing_description">
                <p>{{ listing.job_description }}</p>
            </div>
            <div class="job_listing_contact flex flex-row justify-center">
                <p>{{ listing.email }}</p>
                <p>({{ listing.phone_number.slice(0,3) }}) {{ listing.phone_number.slice(3,6) }}-{{ listing.phone_number.slice(6,10) }}</p>
            </div>
        </div>
    </div>
</div>
<!-- Pagination buttons -->
<div class="pagination_container flex flex-row justify-center">
    <div class="flex justify-between gap-2">
        <button>Previous</button>
        <button>1</button>
        <button>2</button>
        <button>3</button>
        <button>Next</button>
    </div> 
</div>