<a href="/community">
    <mat-icon class="text-black float-left mt-1.5 ml-2 md:ml-6">keyboard_arrow_left</mat-icon>
</a>
<a href="/community" class="top_links float-left mt-2 md:ml-1">Back</a>
<button (click)="openLoginDialog()" *ngIf="!isLoggedIn" class="top_links flex flex-row float-right mt-2 mr-2 md:mr-6 hover:cursor-pointer">Login</button>
<div *ngIf="isLoggedIn" class="flex float-right mt-2 mr-2 md:mr-6 gap-2">
    <a href="/account" class="top_links"> My Account </a>
    <button (click)="logout()" class="top_links">Logout</button>
</div>

<div class="business_header flex mt-16 mb-6 md:my-16 px-4 md:px-0 justify-center text-center">
    <h1>Check Out These Georgian Owned Business</h1>
</div>

<div class="business_container flex flex-col md:flex-row min-h-screen">
    <div class="business_filter_container flex flex-col w-full md:w-1/4">
        <!-- Search bar -->
        <div class="business_filter_search">
            <input class="w-full pl-3 pr-10" type="text" [(ngModel)]="searchQuery" (input)="onSearchChange()" placeholder="Search...">
            <button class="search-btn" (click)="onSearchChange()">
                <mat-icon>search</mat-icon>
            </button> 
        </div>
        <!-- Filter checkboxes -->
        <!-- <div class="business_filter_type">
            <h3>Filter by Business Location:</h3>
            <label><input type="checkbox" name="business-type" value="full-time">Full Time</label>
            <label><input type="checkbox" name="business-type" value="part-time">Part Time</label>
            <label><input type="checkbox" name="business-type" value="internship">Internship</label>
        </div>     -->
    </div>

    <!-- Business listings -->
    <div class="blisting_container flex flex-col w-full md:w-3/4" >
        <div class="blisting flex flex-col md:flex-row" *ngFor="let listing of displayedBusinessesList">
          <!-- <div class="flex md:w-1/3 object-cover">
                <img src="{{ listing.image_url }}" alt="business logo">
            </div> -->
            <div class="flex flex-col ml-4">
                <div class="blisting_name flex flex-col md:flex-row">
                    <h3 class="hidden md:block">{{ listing.company_name }} -&nbsp;</h3>
                    <h3 class="block md:hidden">{{ listing.company_name }}</h3>
                    <p> {{ listing.type }} </p>
                </div>
                <div class="blisting_description">
                    <p>{{ listing.description }}</p>
                </div>
                <div class="blisting_details flex flex-col md:flex-row">
                    <p class="block md:hidden">
                        <span *ngIf="listing.location !== null && listing.location !== ''">
                            <mat-icon class="text-black">map</mat-icon>
                            {{ listing.location }}
                        </span>
                    </p>
                    <p class="block md:hidden">
                        <mat-icon class="text-black">phone</mat-icon>
                        ({{ listing.phone_number.slice(0,3) }}) {{ listing.phone_number.slice(3,6) }}-{{ listing.phone_number.slice(6,10) }}
                    </p> 
                    <p class="hidden md:block">
                        <span *ngIf="listing.location !== null && listing.location !== ''">
                            <mat-icon class="text-black">map</mat-icon>
                            {{ listing.location }}
                        </span>
                        <mat-icon class="text-black ml-2">phone</mat-icon>
                        ({{ listing.phone_number.slice(0,3) }}) {{ listing.phone_number.slice(3,6) }}-{{ listing.phone_number.slice(6,10) }}
                    </p>
                </div>
                <div class="blisting_contact flex flex-col md:flex-row md:gap-6">
                    <p class="block md:hidden">
                        <mat-icon class="text-black">person</mat-icon>
                        {{ listing.owner}}
                    </p>
                    <p class="block md:hidden">
                        <mat-icon class="text-black">email</mat-icon>
                        {{ listing.email }}
                    </p>
                    <p class="hidden md:block">
                        <mat-icon class="text-black">person</mat-icon>
                        {{ listing.owner}}
                        <mat-icon class="text-black ml-2">email</mat-icon>
                        {{ listing.email }}
                    </p>
                </div>
            </div>
        </div>
      </div>
</div>
<!-- Pagination buttons -->
<div class="pagination_container flex flex-row justify-center">
    <div class="flex justify-between gap-4">
        <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
        <button *ngFor="let pageNumber of pageNumbers" 
                (click)="goToPage(pageNumber)" 
                [class.active]="pageNumber === currentPage">
        {{ pageNumber }}
        </button>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages()">Next</button>
    </div> 
</div>