.top_links:hover {
    color: #DC2626;
    text-decoration: underline;
}

.business_header > h1 {
    font-family: Merriweather;
    font-size: 4vw;
    line-height: 1.1;
}

@media screen and (max-width: 768px) {
    .business_header > h1 {
        font-size: 6vw;
    }
}

.business_filter_container {
    padding: 20px;  
    padding-right: 0px;
}

.business_filter_search {
    position: relative;
    width: 100%;
}

.business_filter_search > input {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
}

.business_filter_search > button > mat-icon {
    padding-right: 2rem !important; 
}

.search-btn {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.search-btn mat-icon {
    pointer-events: none; /* prevents the icon from capturing the click event */
}

.blisting_container {
    width: 100%;
    padding: 20px;
}

.blisting {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
}

.blisting_name > h3 {
    font-size: 24px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .blisting_name > h3 {
        text-decoration: underline;
        margin: 0;
    }
}

.blisting_name > p {
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    margin-right: auto;
}

.blisting_description > p {
    word-wrap: break-word;
}

.blisting_details > p > mat-icon {
    transform: translateY(7px);
}

.blisting_details > p > span > mat-icon {
    transform: translateY(7px);
}

.blisting_contact > p > mat-icon {
    transform: translateY(7px);
}

.active {
    font-weight: bold;
    text-decoration: underline;
}

.no-listings {
    text-align: center;
    padding: 20px;
    font-style: italic;
  }
