.hire_filter_container {
    padding: 20px;
}

.hire_filter_search > input {
    border: 1px solid #e5e7eb;
    border-radius: 5px;
}

.hire_listing_container {
    padding: 20px;
}

.hire_listing {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.hire_listing_header > p {
    font-size: 20px;
    font-weight: bold;
}

.hire_listing_details > p > mat-icon {
    transform: translateY(7px);
}

.hire_listing_contact > p > mat-icon {
    transform: translateY(7px);
}

.work_outside {
    width: max-content;
    padding: 0px 7px 0px 7px;
    color: white;
    background-color: #1E293B;
    opacity: 0.8;
    border-radius: 10px;
}

.business_listing_container {
    padding: 20px;
}

.business_listing {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
}

.business_listing_header > p {
    font-size: 20px;
    font-weight: bold;
}

.business_listing_details > p > mat-icon {
    transform: translateY(7px);
}

.business_listing_contact > p > mat-icon {
    transform: translateY(7px);
}

.job_board_listing_container {
    padding: 20px;
}

.job_board_listing {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
}

.job_board_listing_header > p {
    font-size: 20px;
    font-weight: bold;
}

.job_board_listing_contact > p > mat-icon {
    transform: translateY(7px);
}

.form_flex {
    display: flex;
    align-items: center;
}

.label_unapproved {
    margin-right: 8px;
}

.label_approved {
    margin-left: 8px;
}
  