<div class="min-h-screen">
  <button
    (click)="openLoginDialog()"
    *ngIf="!isLoggedIn"
    class="absolute right-0 mt-2 mr-6"
  >
    Login
  </button>
  <div *ngIf="isLoggedIn" class="absolute flex flex-row right-0 pr-2">
    <span>{{ userEmail }}</span>
    <button (click)="logout()" class="ml-4">Logout</button>
  </div>

  <div class="p-16 justify-center text-center" [ngClass]="{ '': !isAdmin }">
    <h1 class="text-3xl">Welcome Admin!</h1>
    <h2 *ngIf="!isAdmin" class="text-xl">
      Please login to the admin account to start making changes!
    </h2>
  </div>

  <div
    class="switch_forms_container flex flex-wrap md:flex-nowrap place-content-center mx-2 gap-2 md:gap-10"
    *ngIf="isAdmin"
    [ngClass]="{ '': switchForm == 0, '': switchForm > 0 }"
  >
    <button
      type="button"
      (click)="switchToEvents()"
      class="w-1/2 py-2 px-4 border-2 border-black rounded-md hover:text-white hover:bg-black"
      [ngClass]="{ 'text-white bg-black': switchForm == 1 }"
    >
      Events
    </button>
    <button
      type="button"
      (click)="switchToHires()"
      class="w-1/2 py-2 px-4 border-2 border-black rounded-md hover:text-white hover:bg-black"
      [ngClass]="{ 'text-white bg-black': switchForm == 2 }"
    >
      For Hire
    </button>
    <button
      type="button"
      (click)="switchToBusinesses()"
      class="w-1/2 py-2 px-4 border-2 border-black rounded-md hover:text-white hover:bg-black"
      [ngClass]="{ 'text-white bg-black': switchForm == 3 }"
    >
      Business
    </button>
    <button
      type="button"
      (click)="switchToJobBoard()"
      class="w-1/2 py-2 px-4 border-2 border-black rounded-md hover:text-white hover:bg-black"
      [ngClass]="{ 'text-white bg-black': switchForm == 4 }"
    >
      Job Board
    </button>
  </div>
  <!-- SWITCH FORM 1: Events -->
  <div class="admin_events" *ngIf="switchForm == 1">
    <div class="admin_add_header mt-12 justify-center text-center">
      <h2>Add Event:</h2>
    </div>
    <div class="admin_add_form mt-6 text-center">
      <!-- form to collect event information -->
      <form (ngSubmit)="submitEvent()">
        <mat-form-field class="!w-2/3">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="event.date"
            name="date"
            title="date"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br />
        <mat-form-field class="!w-2/3">
          <mat-label>Time</mat-label>
          <input matInput [(ngModel)]="event.time" name="time" title="time" />
          <mat-hint>HH:MM:SS AM/PM</mat-hint>
        </mat-form-field>
        <br />
        <mat-form-field class="!w-2/3">
          <mat-label>Title</mat-label>
          <input
            matInput
            [(ngModel)]="event.title"
            name="title"
            title="title"
          />
        </mat-form-field>
        <br />
        <mat-form-field class="!w-2/3">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            [(ngModel)]="event.description"
            name="description"
            title="description"
          ></textarea>
        </mat-form-field>
        <br />
        <!-- image upload field -->
        <input
          type="file"
          (change)="onFileSelected($event)"
          class="!w-2/3"
          title="upload file"
        />
        <br />
        <button type="submit" class="py-2 px-4 border-2">Submit</button>
      </form>
    </div>

    <div class="admin_delete_header mt-12 justify-center text-center">
      <h2>Delete Event:</h2>
    </div>
    <div class="admin_delete_form mt-6 text-center justify-center">
      <!-- dropdown form to delete event -->
      <form (ngSubmit)="deleteEvent()" class="flex flex-col w-2/3 mx-auto">
        <mat-form-field>
          <mat-label>Select Event</mat-label>
          <mat-select [(value)]="selectedEventId">
            <mat-option *ngFor="let event of eventsList" [value]="event.id">
              {{ event.title }} - {{ event.date }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button type="submit" class="w-24 mx-auto py-2 px-4 border-2">
          Delete
        </button>
      </form>
    </div>

    <div
      class="my-4 px-10 pt-2 pb-8 w-2/3 mx-auto border border-black rounded-lg"
    >
      <app-sponsor-upload></app-sponsor-upload>
    </div>
    <div
      class="my-4 px-10 pt-2 pb-8 w-2/3 mx-auto border border-black rounded-lg"
    >
      <app-sponsor-delete></app-sponsor-delete>
    </div>
    <div
      class="my-4 px-10 pt-2 pb-8 w-2/3 mx-auto border border-black rounded-lg"
    >
      <app-sponsor-update></app-sponsor-update>
    </div>
    <div
      class="my-4 px-10 pt-2 pb-8 w-2/3 mx-auto border border-black rounded-lg"
    >
      <app-gallery-upload></app-gallery-upload>
    </div>
  </div>

  <!-- SWITCH FORM 2: FOR HIRE-->
  <div class="" *ngIf="switchForm == 2">
    <div
      class="flex flex-row mx-2 mt-3 gap-2"
      [ngClass]="{ 'mb-32': hireSwitchForm == 0, 'mb-0': hireSwitchForm > 0 }"
    >
      <button
        type="button"
        (click)="switchToApprovedHires()"
        class="w-1/3 py-2 px-4 border-2 border-black rounded-md hover:text-white hover:bg-black"
        [ngClass]="{ 'text-white bg-black': hireSwitchForm == 1 }"
      >
        Approved Listings
      </button>
      <button
        type="button"
        (click)="switchToNewHires()"
        class="w-1/3 py-2 px-4 border-2 border-black rounded-md hover:text-white hover:bg-black"
        [ngClass]="{ 'text-white bg-black': hireSwitchForm == 2 }"
      >
        Unapproved Listings
      </button>
      <button
        type="button"
        (click)="switchToEditHires()"
        class="w-1/3 py-2 px-4 border-2 border-black rounded-md hover:text-white hover:bg-black"
        [ngClass]="{ 'text-white bg-black': hireSwitchForm == 3 }"
      >
        Edits
      </button>
    </div>

    <!-- HIRE SWITCH FORM 1: APPROVED -->
    <div class="px-4 py-10 md:p-10" *ngIf="hireSwitchForm == 1">
      <app-for-hire-listings
        [single]="false"
        [admin]="true"
        [approved]="true"
      ></app-for-hire-listings>
    </div>
    <!-- HIRE SWITCH FORM 2: NEW -->
    <div class="px-4 py-10 md:p-10" *ngIf="hireSwitchForm == 2">
      <app-for-hire-listings
        [single]="false"
        [admin]="true"
        [unapproved]="true"
      ></app-for-hire-listings>
    </div>
    <!-- HIRE SWITCH FORM 3: EDITS -->
    <div class="px-4 py-10 md:p-10" *ngIf="hireSwitchForm == 3">
      <app-for-hire-listings
        [single]="false"
        [admin]="true"
        [edit]="true"
      ></app-for-hire-listings>
    </div>
  </div>

  <!-- SWITCH FORM 3: Businesses -->
  <div class="" *ngIf="switchForm == 3">
    <div
      class="flex flex-row mx-2 mt-3 gap-2"
      [ngClass]="{
        'mb-32': businessSwitchForm == 0,
        'mb-0': businessSwitchForm > 0
      }"
    >
      <button
        type="button"
        (click)="switchToApprovedBusinesses()"
        class="w-1/3 py-2 px-4 border-2 border-black rounded-md hover:text-white hover:bg-black"
        [ngClass]="{ 'text-white bg-black': businessSwitchForm == 1 }"
      >
        Approved Listings
      </button>
      <button
        type="button"
        (click)="switchToNewBusiness()"
        class="w-1/3 py-2 px-4 border-2 border-black rounded-md hover:text-white hover:bg-black"
        [ngClass]="{ 'text-white bg-black': businessSwitchForm == 2 }"
      >
        Unapproved Listings
      </button>
      <button
        type="button"
        (click)="switchToEditBusiness()"
        class="w-1/3 py-2 px-4 border-2 border-black rounded-md hover:text-white hover:bg-black"
        [ngClass]="{ 'text-white bg-black': businessSwitchForm == 3 }"
      >
        Edits
      </button>
    </div>
    <!-- BUSINESS SWITCH FORM 1: APPROVED -->
    <div class="px-4 py-10 md:p-10" *ngIf="businessSwitchForm == 1">
      <app-business-listings
        [single]="false"
        [admin]="true"
        [approved]="true"
      ></app-business-listings>
    </div>
    <!-- BUSINESS SWITCH FORM 2: NEW -->
    <div class="px-4 py-10 md:p-10" *ngIf="businessSwitchForm == 2">
      <app-business-listings
        [single]="false"
        [admin]="true"
        [unapproved]="true"
      ></app-business-listings>
    </div>
    <!-- BUSINESS SWITCH FORM 3: EDITS -->
    <div class="px-4 py-10 md:p-10" *ngIf="businessSwitchForm == 3">
      <app-business-listings
        [single]="false"
        [admin]="true"
        [edit]="true"
      ></app-business-listings>
    </div>
  </div>

  <!-- SWITCH FORM 4: Job Board -->
  <div class="" *ngIf="switchForm == 4">
    <div
      class="flex flex-row mx-2 mt-3 gap-2"
      [ngClass]="{ 'mb-32': jobSwitchForm == 0, 'mb-0': jobSwitchForm > 0 }"
    >
      <button
        type="button"
        (click)="switchToApprovedJobs()"
        class="w-1/3 py-2 px-4 border-2 border-black rounded-md hover:text-white hover:bg-black"
        [ngClass]="{ 'text-white bg-black': jobSwitchForm == 1 }"
      >
        Approved Listings
      </button>
      <button
        type="button"
        (click)="switchToNewJobs()"
        class="w-1/3 py-2 px-4 border-2 border-black rounded-md hover:text-white hover:bg-black"
        [ngClass]="{ 'text-white bg-black': jobSwitchForm == 2 }"
      >
        Unapproved Listings
      </button>
      <button
        type="button"
        (click)="switchToEditJobs()"
        class="w-1/3 py-2 px-4 border-2 border-black rounded-md hover:text-white hover:bg-black"
        [ngClass]="{ 'text-white bg-black': jobSwitchForm == 3 }"
      >
        Edits
      </button>
    </div>
    <!-- JOB SWITCH FORM 1: APPROVED -->
    <div class="px-4 py-10 md:p-10" *ngIf="jobSwitchForm == 1">
      <app-job-board-listings
        [single]="false"
        [admin]="true"
        [approved]="true"
      ></app-job-board-listings>
    </div>
    <!-- JOB SWITCH FORM 2: NEW -->
    <div class="px-4 py-10 md:p-10" *ngIf="jobSwitchForm == 2">
      <app-job-board-listings
        [single]="false"
        [admin]="true"
        [unapproved]="true"
      ></app-job-board-listings>
    </div>
    <!-- JOB SWITCH FORM 3: EDITS -->
    <div class="px-4 py-10 md:p-10" *ngIf="jobSwitchForm == 3">
      <app-job-board-listings
        [single]="false"
        [admin]="true"
        [edit]="true"
      ></app-job-board-listings>
    </div>
  </div>
</div>
