<div class="register_job_board_container flex flex-col justify-center text-center">
    <!-- <div>
    <h2>
        Looking to hire someone from the Georgian Community?
    </h2>
    <p>
        Fill out the form below and post your listing to the job board.
    </p>
    </div> -->
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <mat-form-field class="w-3/4">
            <mat-label>Full Name:</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <br/>
        <mat-form-field class="w-3/4">
            <mat-label>Phone Number:</mat-label>
            <input matInput formControlName="phone_number">
        </mat-form-field>
        <br/>
        <mat-form-field class="w-3/4">
            <mat-label>Email:</mat-label>
            <textarea matInput formControlName="email"></textarea>
        </mat-form-field>
        <br/>
        <mat-form-field class="w-3/4">
            <mat-label>Password:</mat-label>
            <input matInput formControlName="password">
        </mat-form-field>
        <br/>
        <button type="submit" class="register_job_board_submit">Submit</button>
        <ng-template #dialogTemplateSuccess class="overflow-hidden">
            <div class="p-4">
                <p>Account updated!</p>
            </div>
        </ng-template>
        <ng-template #dialogTemplateFail class="overflow-hidden">
            <div class="p-4">
                <p>There was an issue proccessing your request.</p>
                <p>Please check to make sure all fields are correct and try again.</p>
            </div>
        </ng-template>
    </form>
</div>