<div class="login_container flex justify-center text-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2>Login</h2>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" formControlName="email">
            <i style="color: tomato"
                *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)">
            </i>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" formControlName="password">
            <i style="color: tomato"
                *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
            </i>
        </div>
        
        <div class="login_submit">
            <input type="submit" [disabled]="loginForm.invalid">
        </div>
    </form>
</div>