.mission_header {
    height: 20vw;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .mission_header {
        height: 50vw;
    }
    
}

.mission_header > h2 {
    font-size: 60px;
    transform: translateX(30vw);
    opacity: 0;
}

@media screen and (max-width: 768px) {
    .mission_header > h2 {
        font-size: 35px;
        transform: translateX(30vw);
        opacity: 0;
    }
}

.mission_header > h2.animate {
    font-size: 60px;
    transform: translateX(10vw);
    opacity: 1;
    transition: all 2s ease-in-out;

    font-family: "Playfair Display", serif;
    color: #DC2626;

    /* line-height: 1; */
}

@media screen and (max-width: 768px) {
    .mission_header > h2.animate {
        font-size: 35px;
        transform: translateX(10vw);
        opacity: 1;
        transition: all 3s ease-in-out;
    }
}

.mission_header > h1 {
    font-size: 85px;
    transform: translateX(-30vw);
    opacity: 0;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .mission_header > h1 {
        font-size: 50px;
        transform: translateX(-30vw);
        opacity: 0;
        margin-top: 0px;
    }
}

.mission_header > h1.animate {
    font-size: 85px;
    transform: translateX(-10vw);
    opacity: 1;
    transition: all 2s ease-in-out;
    margin-top: 15px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1E293B;
}

@media screen and (max-width: 768px) {
    .mission_header > h1.animate {
        font-size: 50px;
        transform: translateX(-10vw);
        opacity: 1;
        transition: all 2s ease-in-out 1s;
        margin-top: 0px;
    }
}

.mission_body {
    height: 20vw;
}

@media screen and (max-width: 768px) {
    .mission_body {
        height: 50vw;
        width: 100%;
    }
}

.mission_body_list {
    list-style-type: disc;
    /* padding: 8px; */

}

.mission_body_list > li {
    display: list-item;
    margin-bottom: 3vw;
}

.list_item1 {
    font-size: 20px;
    font-weight: 600;
    color: #1E293B;

    transform: translateY(10px);
    opacity: 0;
}

.list_item1.animate {
    font-size: 20px;
    font-weight: 600;
    color: #1E293B;

    transform: translateY(0px);
    opacity: 1;
    transition: all 1s ease-in-out;
}

.list_item2 {
    font-size: 20px;
    font-weight: 600;
    color: #1E293B;

    transform: translateY(10px);
    opacity: 0;
}

.list_item2.animate {
    font-size: 20px;
    font-weight: 600;
    color: #1E293B;

    transform: translateY(0px);
    opacity: 1;
    transition: all 1s ease-in-out 0.5s;
}

.list_item3 {
    font-size: 20px;
    font-weight: 600;
    color: #1E293B;

    transform: translateY(10px);
    opacity: 0;
}

.list_item3.animate {
    font-size: 20px;
    font-weight: 600;
    color: #1E293B;

    transform: translateY(0px);
    opacity: 1;
    transition: all 1s ease-in-out 1s;
}

.list_item4 {
    font-size: 20px;
    font-weight: 600;
    color: #1E293B;

    transform: translateY(10px);
    opacity: 0;
}

.list_item4.animate {
    font-size: 20px;
    font-weight: 600;
    color: #1E293B;

    transform: translateY(0px);
    opacity: 1;
    transition: all 1s ease-in-out 1.5s;
}

/* ----------------------------------------------------------------- */

.meet_container > h2 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1E293B;
    line-height: 1.3;
}

@media screen and (max-width: 768px) {
    .meet_container > h2 {
        font-size: 30px;
    }
}


.card {
    width: 20%;
    height: 300px;
    margin: 12px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .card {
        width: 60%;
        margin: auto auto 40px auto;
    }
}
  
.image-container {
    position: relative;
    /* height: 250px; */
    transition: transform 0.3s;
}

.image-container > img {
object-fit: cover;
height: 250px;
width: 100%;
}

.tea_img {
    object-position: 50% 30%;
}

.card:hover .image-container {
    transform: translateY(50px);
}

.text-container {
    height: 50px;
    text-align: center;
    /* padding: 1rem; */
}

.text-container > h2 {
    margin-bottom: 0px !important;
}

.about-button {
    position: absolute;
    top: 0; /* Moved it to top */
    width: 100%;
    height: 50px;
    padding: 1rem;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0; /* Initially hide the button */
    pointer-events: none; /* Ensure the button is not clickable when hidden */
}

.card:hover .about-button {
    top: 0; /* Bring the button down on hover */
    opacity: 1; /* Make the button visible on hover */
    pointer-events: auto; /* Make the button clickable on hover */
}

/* Popup Styles */
.popup {
    position: fixed;
    top: 5%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
}

@media screen and (max-width: 768px) {
    .popup {
        top: 20px;
    }
}

.popup-content {
    background-color: #fff;
    padding: 2rem;
    width: 70%;
    height: 70%;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .popup-content {
        width: 90%;
        height: 80%;
    }
}

.popup_text {
    height: 80%;
    overflow-y: auto
}
  