<div class="home_header flex flex-col md:flex-row justify-center mt-14 mx-auto md:mx-10">
    <div class="home_header_left flex flex-col mr-4">
        <h1>
            Welcome to the Heart of Georgian Culture in Colorado! 
        </h1>
        <p>
            Join Us: Be Part of a Vibrant Georgian Legacy.
        </p>
        <div class="home_header_buttons mt-8">
            <!-- <button class="home_header_donate mr-2">Donate</button> -->
            <a class="home_header_volunteer" routerLink="/events">Volunteer</a>
        </div>
        <!-- <hr class="hidden md:block"/> -->
    </div>
    <div decoding="sync" class="unity_div flex mt-12 md:mt-0 justify-center">
        <p id="ertoba" class="unity flex h-1/3 justify-center p-4" 
        >
        {{ word }}
        </p>
    </div>
</div>

<div class="home_header_cgca flex flex-col mt-28 justify-center text-center" >
    <h2>
        <span class="cgca_pan1">C</span>olorado 
        <span class="cgca_pan2">G</span>eorgian 
        <span class="cgca_pan3">C</span>ommunity 
        <span class="cgca_pan4">A</span>ssociation
    </h2>
</div>

<div class="home_mission flex justify-center">
    <div class="home_mission_container flex flex-col md:flex-row px-10 mt-10 justify-center md:space-x-16 text-center">
        <div class="home_mission_card flex flex-col md:w-1/4 text-center">
            <img src="assets/images/CGCA-LOGO(zoomedout).png" alt="Colorado Georgian Community Association">
            <h3>Promoting Georgian Culture</h3>
            <p>
                Discover the rich tapestry of Georgian culture and heritage right here in Colorado. 
                Join us as we celebrate the timeless traditions and vibrant history of Georgia.
            </p>
        </div>
        <div class="home_mission_card flex flex-col md:w-1/4 text-center">
            <img src="assets/images/PaperPeople.svg" alt="Colorado Georgian Community Association">
            <h3>Uniting the Georgian Community</h3>
            <p>
                Come together as the Georgian community in Colorado, 
                standing united in our shared journey towards growth, success, and development. 
                Let's inspire, engage, and uplift one another in the spirit of unity.
            </p>
        </div>
        <div class="home_mission_card flex flex-col md:w-1/4 text-center">
            <img src="assets/images/Book.svg" alt="Colorado Georgian Community Association">
            <h3>Educating Georgian Youth</h3>
            <p>
                Offering educational initiatives in Colorado dedicated to preserving the rich essence of Georgian culture. 
                Join us in celebrating and learning about our cherished traditions and heritage.
            </p>
        </div>
    </div>
</div>

<div class="home_about">
    <div class="home_about_header flex mt-20 mx-12 justify-center text-center">
        <h2>Explore the Wonders of Georgian Culture</h2>
    </div>
    <div class="about_card flex flex-col md:flex-row mt-6">
        <div class="about_card_left">
            <h3>Georgia</h3>
            <p>
                Georgia, located at the crossroads of Eastern Europe and Western Asia, boasts a rich blend of cultures, landscapes, and history. Bordered by Russia, Azerbaijan, Armenia, and Turkey, its varied terrain encompasses the stunning Caucasus Mountains and scenic Black Sea coastline. The capital, Tbilisi, with its distinctive architecture, reflects a harmonious blend of historical depth and modern vibrancy. Known for its warm hospitality and flavorful cuisine, Georgia offers a unique and enchanting experience for visitors, providing glimpses into its resilient spirit and diverse influences.
            </p>
        </div>
        <div class="about_card_right">
            <img src="assets/images/MotherOfGeorgia2.jpg" alt="Mother of Georgia Statue"/>
        </div>
    </div>
    <div class="about_card about_card_2 flex flex-col md:flex-row mt-12 z-10">
        <div class="about_card_left">
            <h3>Food</h3>
            <p>
                Georgian cuisine offers a delightful exploration of flavors and textures, from the cheese-filled bread, khachapuri, to the flavorful dumplings known as khinkali. Pervading aromas of garlic, coriander, and fenugreek infuse various dishes, while the ancient tradition of qvevri winemaking reflects Georgia’s rich agricultural and cultural heritage.
            </p>
        </div>
        <div class="about_card_right">
            <img src="assets/images/GeorgianFood.jpg" alt="Assortment of Georgian Food"/>
        </div>
    </div>
    <div class="about_card about_card_3 flex flex-col md:flex-row mt-12 z-20">
        <div class="about_card_left">
            <h3>Wine</h3>
            <p>
                Georgia is widely recognized by scholars as the birthplace of wine, with evidence suggesting that winemaking in the region dates back over 8,000 years. This ancient tradition is deeply embedded in the country's cultural and religious identity, with wine playing a significant role in Georgian Orthodox Christian rituals. The country's unique wine-making methods, particularly the use of qvevri (clay vessels) for fermentation, storage, and aging, further highlight Georgia's enduring and distinctive connection to the history and culture of wine.
            </p>
        </div>
        <div class="about_card_right">
            <img src="assets/images/vineyard.jpg" alt="Georgian Vineyard"/>
        </div>
    </div>
    <div class="about_card about_card_4 flex flex-col md:flex-row mt-12 z-30">
        <div class="about_card_left">
            <h3>Dance</h3>
            <p>
                Georgian dance, distinguished by its vibrant and dynamic movements, reflects the nation's cultural and historical narratives. With men often illustrating martial prowess and women embodying elegance and grace, these dances, set to the soulful strains of traditional music, eloquently express Georgia’s cultural vitality and tradition.
            </p>
        </div>
        <div class="about_card_right">
            <img src="assets/images/GeorgianDance.jpg" alt="Georgian Dance Group"/>
        </div>
    </div>
    <div class="about_card about_card_5 flex flex-col md:flex-row mt-12 z-40">
        <div class="about_card_left">
            <h3>Religion</h3>
            <p>
                Georgian religion, predominantly Eastern Orthodox Christianity, plays a pivotal role in shaping the nation’s culture and traditions. The Georgian Orthodox Church, influential and revered, has weathered centuries of political and social change, firmly entwining faith and identity. Notably, picturesque churches and monasteries, such as the ancient Jvari Monastery, pepper the scenic landscapes, offering both spiritual and historical journeys to explorers and pilgrims alike.
            </p>
        </div>
        <div class="about_card_right">
            <img src="assets/images/Tbilisi3.jpg" alt="Tbilisi"/>
        </div>
    </div>
</div>

<div class="home_support flex mt-24 md:px-12 lg:mt-32">
    <div class="support_box flex flex-col justify-center text-center text-white">
        <div class="support_box2 flex flex-col px-6 justify-center text-center">
            <h2 class="!text-3xl md:text-lg">Become a Supporter Today!</h2>
            <p class="!mt-4 md:px-24 text-lg">Making a meaningful impact on our local community only becomes a 
                reality through the generous support of individuals like you, who believe 
                in our mission and are willing to donate to help us create a brighter future for everyone.
            </p>
            <a class="support_donate mt-8 mx-auto" href="https://square.link/u/20SYlc1k">
                Donate
            </a>
        </div>
    </div>
</div>