<a href="/community">
    <mat-icon class="text-black float-left mt-1.5 ml-2 md:ml-6">keyboard_arrow_left</mat-icon>
</a>
<a href="/community" class="top_links float-left mt-2 md:ml-1">Back</a>
<button (click)="openLoginDialog()" *ngIf="!isLoggedIn" class="top_links float-right mt-2 mr-2 md:mr-6">Login</button>
<div *ngIf="isLoggedIn" class="flex float-right mt-2 mr-2 md:mr-6 gap-2">
    <a href="/account" class="top_links"> My Account </a>
    <button (click)="logout()" class="top_links">Logout</button>
</div>

<div class="hire_header flex mt-16 mb-6 md:my-16 px-4 md:px-0 justify-center text-center">
    <h1>Find a Member of the Georgian Community <br/> Ready to Work</h1>
</div>

<div class="for_hire_container flex flex-col md:flex-row min-h-screen">
    <div class="hire_filter_container flex flex-col w-full md:w-1/4">
        <!-- Search bar -->
        <div class="hire_filter_search">
            <input class="w-full pl-3 pr-10" type="text" [(ngModel)]="searchQuery" (input)="onSearchChange()" placeholder="Search...">
            <button class="search-btn" (click)="onSearchChange()">
                <mat-icon>search</mat-icon>
            </button> 
        </div>
        <!-- Filter checkboxes -->
        <!-- <div class="hire_filter_type hidden md:flex">
            <h3>Filter by Job Type:</h3>
            <label><input type="checkbox" name="hire-type" value="full-time">Full Time</label>
            <label><input type="checkbox" name="hire-type" value="part-time">Part Time</label>
            <label><input type="checkbox" name="hire-type" value="internship">Internship</label>
        </div>     -->
    </div>

    <!-- Job listings -->
    <div class="hlisting_container flex flex-col w-full md:w-3/4" >
        <div *ngIf="tempHiresList.length === 0 && !searchPerformed" class="no-listings">
            There are currently no members of the Georgian community looking for work.
        </div>
        <div *ngIf="tempHiresList.length === 0 && !searchPerformed" class="no-listings">
            You could be the first! Go to <a class="hover:cursor-pointer underline text-blue-700" (click)="navigateToAccount()">My Account</a> to register and get yourself hired.
        </div>
        <div *ngIf="tempHiresList.length === 0 && searchPerformed" class="no-listings">
            No matches found for your search.
        </div>
        <div class="hlisting flex flex-col justify-center" *ngFor="let listing of tempHiresList">
            <div class="hlisting_header flex flex-row justify-center">
                <p>{{ listing.name }} -&nbsp;</p> 
                <p> {{ listing.profession }}</p>
            </div>
            <div class="hlisting_description">
                <p>{{ listing.about }}</p>
            </div>
            <div class="hlisting_details flex flex-row"> 
                <p *ngIf="listing.location !== ''">
                    <mat-icon class="text-black">map</mat-icon>
                    {{ listing.location }}
                </p>
            </div>
            <div class="hlisting_contact flex flex-col md:flex-row md:gap-6">
                <p class="block md:hidden">
                    <mat-icon class="text-black">person</mat-icon>
                    {{ listing.email}}
                </p>
                <p class="block md:hidden">
                    <mat-icon class="text-black">email</mat-icon>
                    ({{ listing.phone_number.slice(0,3) }}) {{ listing.phone_number.slice(3,6) }}-{{ listing.phone_number.slice(6,10) }}
                </p>
                <p class="hidden md:block">
                    <mat-icon class="text-black">person</mat-icon>
                    {{ listing.email}}
                    <mat-icon class="text-black ml-2">email</mat-icon>
                    ({{ listing.phone_number.slice(0,3) }}) {{ listing.phone_number.slice(3,6) }}-{{ listing.phone_number.slice(6,10) }}
                </p>
            </div>
            <div class="work_outside" *ngIf=(listing.work_outside)>
                Willing to work outside of profession
            </div>
        </div>
        <div *ngIf="tempHiresList.length > 0" class="hlisting text-center">
            Want to put yourself on this list? Go to <a class="hover:cursor-pointer underline text-blue-700" (click)="navigateToAccount()">My Account</a> and make a listing.
        </div>
    </div>
</div>
<!-- Pagination buttons -->
<div class="pagination_container flex flex-row justify-center">
    <div class="flex justify-between gap-4">
        <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
        <button *ngFor="let pageNumber of pageNumbers" 
            (click)="goToPage(pageNumber)" 
            [class.active]="pageNumber === currentPage">
            {{ pageNumber }}
        </button>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages()">Next</button>
    </div> 
</div>
