<div class="register_job_board_container flex flex-col justify-center text-center">
    <div>
    <h2>
        Looking to hire someone from the Georgian Community?
    </h2>
    <p>
        Fill out the form below and post your listing to the job board.
    </p>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <mat-form-field class="w-3/4">
            <mat-label>Company Name:</mat-label>
            <input matInput formControlName="company_name">
        </mat-form-field>
        <br/>
        <mat-form-field class="w-3/4">
            <mat-label>Position:</mat-label>
            <input matInput formControlName="job_title">
        </mat-form-field>
        <br/>
        <mat-form-field class="w-3/4">
            <mat-label>Job Description:</mat-label>
            <textarea matInput formControlName="job_description"></textarea>
        </mat-form-field>
        <br/>
        <mat-form-field class="w-3/4">
            <mat-label>Pay:</mat-label>
            <input matInput formControlName="pay">
        </mat-form-field>
        <br/>
        <mat-form-field class="w-3/4">
            <mat-label>Location (City):</mat-label>
            <input matInput formControlName="location">
        </mat-form-field>
        <br/>
        <button type="submit" class="register_job_board_submit">Submit</button>
        <ng-template #dialogTemplateSuccess class="overflow-hidden">
            <div class="p-4">
                <p>Job Successfully Posted!</p>
            </div>
        </ng-template>
        <ng-template #dialogTemplateFail class="overflow-hidden">
            <div class="p-4">
                <p>There was an issue proccessing your request.</p>
                <p>Please check to make sure all fields are correct and try again.</p>
            </div>
        </ng-template>
    </form>
</div>