<div
  class="relative flex flex-col justify-center text-left mx-auto p-5 w-full border rounded-lg"
>
  <div class="text-center py-5">
    <h2 class="text-lg">
      Looking to hire someone from the Georgian Community?
    </h2>
    <p>Fill out the form below and post your listing to the job board.</p>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form" class="text-center">
    <mat-form-field class="w-3/4">
      <mat-label>Company Name:</mat-label>
      <input title="company name" matInput formControlName="company_name" />
    </mat-form-field>
    <br />
    <mat-form-field class="w-3/4">
      <mat-label>Position:</mat-label>
      <input title="job title" matInput formControlName="job_title" />
    </mat-form-field>
    <br />
    <mat-form-field class="w-3/4">
      <mat-label>Job Description:</mat-label>
      <textarea
        title="job description"
        matInput
        formControlName="job_description"
      ></textarea>
    </mat-form-field>
    <br />
    <mat-form-field class="w-3/4">
      <mat-label>Pay:</mat-label>
      <input title="pay" matInput formControlName="pay" />
    </mat-form-field>
    <br />
    <mat-form-field class="w-3/4">
      <mat-label>Location (City):</mat-label>
      <input title="location" matInput formControlName="location" />
    </mat-form-field>
    <br />
    <button
      type="submit"
      class="w-full p-5 text-rojo-red border border-rojo-red rounded-lg hover:bg-rojo-red hover:text-white"
    >
      Submit
    </button>
    <ng-template #dialogTemplateSuccess class="overflow-hidden">
      <div class="p-4">
        <p>Job Successfully Posted!</p>
      </div>
    </ng-template>
    <ng-template #dialogTemplateFail class="overflow-hidden">
      <div class="p-4">
        <p>There was an issue proccessing your request.</p>
        <p>Please check to make sure all fields are correct and try again.</p>
      </div>
    </ng-template>
  </form>
</div>
